In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 데이터 적재

In [2]:
# 조회용 dictionary
# 3, 4번 폴더는 가구, 개인 국내기타여행 자료라 제외

data_dict = {'data_0_01': '응답자 특성_가구', 'data_0_02': '응답자 특성_개인',
             'data_1_01': '가구_국내관광+해외관광_단위여행', 'data_1_02': '가구_국내관광+해외관광_방문지',
             'data_1_03': '가구_국내관광+해외관광_함께 여행한 가구원',
             'data_2_01': '개인_국내관광+해외관광_단위여행', 'data_2_02': '개인_국내관광+해외관광_방문지',
             'data_5_01': '2017년 국민여행 실태조사_데이터_단위',
             'data_5_02': '2017년 국민여행 실태조사_데이터_방문지'}

#### 0. 응답자 특성

In [3]:
data_0_01 = pd.read_excel('./data/2017년 국민여행실태조사 데이터/0. 응답자 특성/1. 응답자 특성_가구.xlsx')
data_0_02 = pd.read_excel('./data/2017년 국민여행실태조사 데이터/0. 응답자 특성/1. 응답자 특성_개인.xlsx')

In [4]:
# column명 변경

data_0_01.columns = ['가구번호', ' 주택유형', '거주시도', '지역규모', '가구내 가구원수',
                     '년 평균 가구소득', '월 평균 가구소득', '가중치']
data_0_02.columns = ['가구번호', '가구원번호', '성별', '연령', '주택유형', '거주시도',
                     '지역규모', '최종학력', '졸업여부', '직업(텍스트)', '직업분류1',
                     '직업분류2', '가구내 가구원수', '혼인상태', '년 평균 가구소득',
                     '월 평균 가구소득', '가중치']

In [5]:
data_0_02.head()

,가구번호,가구원번호,성별,연령,주택유형,거주시도,지역규모,최종학력,졸업여부,직업(텍스트),직업분류1,직업분류2,가구내 가구원수,혼인상태,년 평균 가구소득,월 평균 가구소득,가중치
0,10001,1000101,1,40,2,1,1,5,5,NaN,2,8,4,2,4000,333.333333,6201.607951
1,10001,1000102,2,40,2,1,1,4,1,NaN,11,9,4,2,4000,333.333333,5886.547371
2,10002,1000201,1,41,1,1,1,6,1,NaN,4,3,3,1,4000,333.000000,12044.610408
3,10002,1000202,2,73,1,1,1,2,1,NaN,11,9,3,3,4000,333.000000,5436.667739
4,10002,1000203,2,46,1,1,1,4,1,NaN,9,5,3,2,4000,333.000000,12405.209670

#### 1. 가구_국내관광+해외관광

In [6]:
data_1_01 = pd.read_excel('./data/2017년 국민여행실태조사 데이터/1. 가구_국내관광+해외관광/1. 가구_국내관광+해외관광_단위여행.xlsx')
data_1_02 = pd.read_excel('./data/2017년 국민여행실태조사 데이터/1. 가구_국내관광+해외관광/2. 가구_국내관광+해외관광_방문지.xlsx')
data_1_03 = pd.read_excel('./data/2017년 국민여행실태조사 데이터/1. 가구_국내관광+해외관광/3. 가구_국내관광+해외관광_함께 여행한 가구원.xlsx')

In [7]:
# column명 변경

data_1_01.columns = ['가구번호', '여행구분1', '여행구분2', '여행 월', '매칭 ID',
                     '당일/숙박여행 여부', '여행 출발 년', '여행 출발 월', 
                     '여행 출발 일', '여행 도착 년', '여행 도착 월', '여행 도착 일',
                     '여행 박', '여행 일', '여행 시기 주중', '여행 시기 주말',
                     '여행 시기 휴가/방학', '여행 시기 설날/추석', '여행 시기 공휴일',
                     '여행 주 목적', '여행 정보 주요 획득지 1순위',
                     '여행 정보 주요 획득지 2순위', '참고한 인터넷 사이트 1순위',
                     '참고한 인터넷 사이트 2순위', '동반자 수 동거 가족이나 친척',
                     '동반자 수 비동거 가족이나 친척', '동반자 수 그 외 동행자',
                     '그 외 동행자 유형 친구/연인', '그 외 동행자 유형 (직장)동료',
                     '그 외 동행자 유형 단체/모임', '그 외 동행자 유형 기타',
                     '총 지출비용', '사전 지출비용', '단체비용', '여행사 상품구입비',
                     '숙박비', '교통비', '식/음료비', '문화/오락시설 이용료/관람료',
                     '스포츠/레포츠 용품대여/구입비, 경기관람료', '기념품 및 쇼핑비',
                     '여행지에서 여행관련용품 구입비', '기타비용',
                     '여행 출발 전 사전예약을 통해 이용한 서비스 여부',
                     '사전예약을 한 서비스 숙박시설', '사전예약을 한 서비스 교통수단',
                     '사전예약을 한 서비스 차량대여/렌트', '사전예약을 한 서비스 관광명소',
                     '사전예약을 한 서비스 레저시설', '사전예약을 한 서비스 체험프로그램',
                     '사전예약을 한 서비스 기타', '여행상품 구매 또는 이용 여부',
                     '구매한 여행상품', '구매한 여행상품 부분 패키지 상품(교통)',
                     '구매한 여행상품 부분 패키지 상품(차량임대)',
                     '구매한 여행상품 부분 패키지 상품(숙박시설)',
                     '구매한 여행상품 부분 패키지 상품(레저시설)',
                     '구매한 여행상품 부분 패키지 상품(기타)',
                     '단체회비/단체경비에 여행상품 구매 비용 포함 여부',
                     '항목별 만족도 자연경관', '항목별 만족도 문화유산', 
                     '항목별 만족도 교통', '항목별 만족도 숙박시설', 
                     '항목별 만족도 식당 및 음식', '항목별 만족도 쇼핑', 
                     '항목별 만족도 관광정보 및 안내시설', '항목별 만족도 관광지 편의시설',
                     '항목별 만족도 지역 관광종사자의 친절성', '항목별 만족도 체험프로그램',
                     '항목별 만족도 관광지 물가', '항목별 만족도 관광지 혼잡도', '가중치']

data_1_02.columns = ['가구번호', '여행구분1', '여행구분2', '여행 월', '매칭 ID', 
                     '여행한 광역시/도(헤외여행: 국가)', '여행한 광역시/도 내 시/군1(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군2(해외여행: 도시)', '여행한 광역시/도 내 시/군3(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군4(해외여행: 도시)', '여행한 광역시/도 내 시/군5(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군6(해외여행: 도시)', '여행한 광역시/도 내 시/군7(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군8(해외여행: 도시)', '여행지별 여행일수', '여행지 선택이유 1순위',
                     '여행지 선택이유 2순위', '여행지 선택이유 3순위', '주요 이동(교통)수단', 
                     '숙박시설 숙박하지 않음', '숙박시설 호텔', '숙박시설 콘도미니엄', '숙박시설 유스호스텔',
                     '숙박시설 모텔/여관', '숙박시설 펜션', '숙박시설 민박', '숙박시설 야영', 
                     '숙박시설 자연휴양림 내 숙박시설', '숙박시설 가족/친지집', '숙박시설 연수원/수련원',
                     '숙박시설 전통한옥숙박시설', '숙박시설 기타', '숙박시설 별 숙박 박수 숙박하지 않음',
                     '숙박시설 별 숙박 박수 호텔', '숙박시설 별 숙박 박수 콘도미니엄',
                     '숙박시설 별 숙박 박수 유스호스텔', '숙박시설 별 숙박 박수 모텔/여관',
                     '숙박시설 별 숙박 박수 펜션', '숙박시설 별 숙박 박수 민박', '숙박시설 별 숙박 박수 야영',
                     '숙박시설 별 숙박 박수 자연휴양림 내 숙박시설', '숙박시설 별 숙박 박수 가족/친지집',
                     '숙박시설 별 숙박 박수 연수원/수련원', '숙박시설 별 숙박 박수 전통한옥숙박시설', 
                     '숙박시설 별 숙박 박수 기타', '여행지에서의 활동 자연 및 풍경 감상',
                     '여행지에서의 활동 음식관광', '여행지에서의 활동 야외 위락 및 스포츠 활동',
                     '여행지에서의 활동 역사유적지 방문', '여행지에서의 활동 테마파크, 놀이시설, 동/식물원 방문',
                     '여행지에서의 활동 휴식/휴양', '여행지에서의 활동 온천/스파', '여행지에서의 활동 쇼핑',
                     '여행지에서의 활동 지역 문화예술/공연/전시시설 관람', '여행지에서의 활동 스포츠 경기 관람',
                     '여행지에서의 활동 지역 축제/이벤트 참가', '여행지에서의 활동 교육/체험프로그램 참가',
                     '여행지에서의 활동 종교/성지순례', '여행지에서의 활동 갬블링', '여행지에서의 활동 시티투어',
                     '여행지에서의 활동 드라마 촬영지 방문', '여행지에서의 활동 가족/친지/친구 방문',
                     '여행지에서의 활동 회의참가/시찰', '여행지에서의 활동 교육/훈련/연수', 
                     '여행지에서의 활동 유흥/오락', '여행지에서의 활동 기타', '전반적 만족도', '재방문 의향',
                     '타인 추천의향', '여행지에서 지출비용', '가중치']

data_1_03.columns = ['가구번호', '가구원번호', '여행구분1', '여행 월', '매칭 ID']

In [8]:
data_1_03.head()

    가구번호    가구원번호  여행구분1  여행 월   매칭 ID
0  11200  1120002      1     8  100129
1  11200  1120001      1     8  100129
2  11200  1120002      1     8  100130
3  11200  1120001      1     8  100130
4  11200  1120004      1     8  100130

#### 2. 개인_국내관광+해외관광

In [9]:
data_2_01 = pd.read_excel('./data/2017년 국민여행실태조사 데이터/2. 개인_국내관광+해외관광/1. 개인_국내관광+해외관광_단위여행.xlsx')
data_2_02 = pd.read_excel('./data/2017년 국민여행실태조사 데이터/2. 개인_국내관광+해외관광/2. 개인_국내관광+해외관광_방문지.xlsx')

In [10]:
#column명 변경

data_2_01.columns = ['가구번호', '가구원번호', '여행구분1', '여행구분2', '여행 월', 
                     '매칭 ID', '당일/숙박여행 여부', '여행 출발 년', '여행 출발 월', 
                     '여행 출발 일', '여행 도착 년', '여행 도착 월', '여행 도착 일',
                     '여행 박', '여행 일', '여행 시기 주중', '여행 시기 주말',
                     '여행 시기 휴가/방학', '여행 시기 설날/추석', '여행 시기 공휴일',
                     '여행 주 목적', '여행 정보 주요 획득지 1순위',
                     '여행 정보 주요 획득지 2순위', '참고한 인터넷 사이트 1순위',
                     '참고한 인터넷 사이트 2순위', '함께 여행한 일행 존재 여부',
                     '본인을 제외한 함께 여행한 일행 수', '동행한 사람과의 관계 친구/연인', 
                     '동행한 사람과의 관계 (직장)동료', '동행한 사람과의 관계 단체/모임', 
                     '동행한 사람과의 관계 비동거가족', '동행한 사람과의 관계 친척',
                     '동행한 사람과의 관계 기타', '총 지출비용', '사전 지출비용', 
                     '단체비용', '여행사 상품구입비', '숙박비', '교통비', '식/음료비', 
                     '문화/오락시설 이용료/관람료', '스포츠/레포츠 용품대여/구입비, 경기관람료', 
                     '기념품 및 쇼핑비', '여행지에서 여행관련용품 구입비', '기타비용',
                     '여행 출발 전 사전예약을 통해 이용한 서비스 여부',
                     '사전예약을 한 서비스 숙박시설', '사전예약을 한 서비스 교통수단',
                     '사전예약을 한 서비스 차량대여/렌트', '사전예약을 한 서비스 관광명소',
                     '사전예약을 한 서비스 레저시설', '사전예약을 한 서비스 체험프로그램',
                     '사전예약을 한 서비스 기타', '여행상품 구매 또는 이용 여부',
                     '구매한 여행상품', '구매한 여행상품 부분 패키지 상품(교통)',
                     '구매한 여행상품 부분 패키지 상품(차량임대)',
                     '구매한 여행상품 부분 패키지 상품(숙박시설)',
                     '구매한 여행상품 부분 패키지 상품(레저시설)',
                     '구매한 여행상품 부분 패키지 상품(기타)',
                     '단체회비/단체경비에 여행상품 구매 비용 포함 여부',
                     '항목별 만족도 자연경관', '항목별 만족도 문화유산', 
                     '항목별 만족도 교통', '항목별 만족도 숙박시설', 
                     '항목별 만족도 식당 및 음식', '항목별 만족도 쇼핑', 
                     '항목별 만족도 관광정보 및 안내시설', '항목별 만족도 관광지 편의시설',
                     '항목별 만족도 지역 관광종사자의 친절성', '항목별 만족도 체험프로그램',
                     '항목별 만족도 관광지 물가', '항목별 만족도 관광지 혼잡도', '가중치']

data_2_02.columns = ['가구번호', '가구원번호', '여행구분1', '여행구분2', '여행 월', '매칭 ID', 
                     '여행한 광역시/도(헤외여행: 국가)', '여행한 광역시/도 내 시/군1(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군2(해외여행: 도시)', '여행한 광역시/도 내 시/군3(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군4(해외여행: 도시)', '여행한 광역시/도 내 시/군5(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군6(해외여행: 도시)', '여행한 광역시/도 내 시/군7(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군8(해외여행: 도시)', '여행지별 여행일수', '여행지 선택이유 1순위',
                     '여행지 선택이유 2순위', '여행지 선택이유 3순위', '주요 이동(교통)수단', 
                     '숙박시설 숙박하지 않음', '숙박시설 호텔', '숙박시설 콘도미니엄', '숙박시설 유스호스텔',
                     '숙박시설 모텔/여관', '숙박시설 펜션', '숙박시설 민박', '숙박시설 야영', 
                     '숙박시설 자연휴양림 내 숙박시설', '숙박시설 가족/친지집', '숙박시설 연수원/수련원',
                     '숙박시설 전통한옥숙박시설', '숙박시설 기타', '숙박시설 별 숙박 박수 숙박하지 않음',
                     '숙박시설 별 숙박 박수 호텔', '숙박시설 별 숙박 박수 콘도미니엄',
                     '숙박시설 별 숙박 박수 유스호스텔', '숙박시설 별 숙박 박수 모텔/여관',
                     '숙박시설 별 숙박 박수 펜션', '숙박시설 별 숙박 박수 민박', '숙박시설 별 숙박 박수 야영',
                     '숙박시설 별 숙박 박수 자연휴양림 내 숙박시설', '숙박시설 별 숙박 박수 가족/친지집',
                     '숙박시설 별 숙박 박수 연수원/수련원', '숙박시설 별 숙박 박수 전통한옥숙박시설', 
                     '숙박시설 별 숙박 박수 기타', '여행지에서의 활동 자연 및 풍경 감상',
                     '여행지에서의 활동 음식관광', '여행지에서의 활동 야외 위락 및 스포츠 활동',
                     '여행지에서의 활동 역사유적지 방문', '여행지에서의 활동 테마파크, 놀이시설, 동/식물원 방문',
                     '여행지에서의 활동 휴식/휴양', '여행지에서의 활동 온천/스파', '여행지에서의 활동 쇼핑',
                     '여행지에서의 활동 지역 문화예술/공연/전시시설 관람', '여행지에서의 활동 스포츠 경기 관람',
                     '여행지에서의 활동 지역 축제/이벤트 참가', '여행지에서의 활동 교육/체험프로그램 참가',
                     '여행지에서의 활동 종교/성지순례', '여행지에서의 활동 갬블링', '여행지에서의 활동 시티투어',
                     '여행지에서의 활동 드라마 촬영지 방문', '여행지에서의 활동 가족/친지/친구 방문',
                     '여행지에서의 활동 회의참가/시찰', '여행지에서의 활동 교육/훈련/연수', 
                     '여행지에서의 활동 유흥/오락', '여행지에서의 활동 기타', '전반적 만족도', '재방문 의향',
                     '타인 추천의향', '여행지에서 지출비용', '가중치']

In [11]:
data_2_02.head()

,가구번호,가구원번호,여행구분1,여행구분2,여행 월,매칭 ID,여행한 광역시/도(헤외여행: 국가),여행한 광역시/도 내 시/군1(해외여행: 도시),여행한 광역시/도 내 시/군2(해외여행: 도시),여행한 광역시/도 내 시/군3(해외여행: 도시),...,여행지에서의 활동 가족/친지/친구 방문,여행지에서의 활동 회의참가/시찰,여행지에서의 활동 교육/훈련/연수,여행지에서의 활동 유흥/오락,여행지에서의 활동 기타,전반적 만족도,재방문 의향,타인 추천의향,여행지에서 지출비용,가중치
0,10001,1000101,1,2.0,8.0,115439.0,931.0,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,100000.0,6201.607951
1,10001,1000102,1,2.0,12.0,115441.0,931.0,260.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,100000.0,5886.547371
2,10002,1000203,1,2.0,10.0,123587.0,932.0,30.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,600000.0,12405.209670
3,10002,1000201,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10002,1000202,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 5. 개인화

In [12]:
data_5_01 = pd.read_excel('./data/2017년 국민여행실태조사 데이터/5. 개인화/2017년 국민여행 실태조사_데이터_단위.xlsx')
data_5_02 = pd.read_excel('./data/2017년 국민여행실태조사 데이터/5. 개인화/2017년 국민여행 실태조사_데이터_방문지.xlsx')

In [87]:
data_5_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42184 entries, 0 to 42183
Data columns (total 75 columns):
gubun                          39105 non-null float64
가구번호                           42184 non-null int64
가구원번호                          42184 non-null int64
여행구분1                          42184 non-null int64
여행구분2                          39105 non-null float64
여행 월                           39105 non-null float64
매칭 ID                          39105 non-null float64
당일/숙박여행 여부                     39105 non-null float64
여행 출발 년                        39105 non-null float64
여행 출발 월                        39105 non-null float64
여행 출발 일                        39105 non-null float64
여행 도착 년                        39105 non-null float64
여행 도착 월                        39105 non-null float64
여행 도착 일                        39105 non-null float64
여행 박                           39105 non-null float64
여행 일                           39105 non-null float64
여행 시기 주중                       18947 non-null float64
여행 시기 주말                       20614 non-null float64
여행 시기 휴가/방학                    1752 non-null float64
여행 시기 설날/추석                    4446 non-null float64
여행 시기 공휴일                      4508 non-null float64
여행 주 목적                        39105 non-null float64
여행 정보 주요 획득지 1순위               19101 non-null float64
여행 정보 주요 획득지 2순위               18903 non-null float64
참고한 인터넷 사이트 1순위                2661 non-null float64
참고한 인터넷 사이트 2순위                2608 non-null float64
함께 여행한 일행 존재 여부                39105 non-null float64
본인을 제외한 함께 여행한 일행 수            39032 non-null float64
동행한 사람과의 관계 친구/연인              7722 non-null float64
동행한 사람과의 관계 (직장)동료             1456 non-null float64
동행한 사람과의 관계 단체/모임              3192 non-null float64
동행한 사람과의 관계 비동거가족              1486 non-null float64
동행한 사람과의 관계 친척                 287 non-null float64
동행한 사람과의 관계 기타                 527 non-null float64
총 지출비용                         39105 non-null float64
사전 지출비용                        39105 non-null float64
단체비용                           19101 non-null float64
여행사 상품구입비                      19101 non-null float64
숙박비                            19101 non-null float64
교통비                            19101 non-null float64
식/음료비                          19101 non-null float64
문화/오락시설 이용료/관람료                19101 non-null float64
스포츠/레포츠 용품대여/구입비, 경기관람료        19101 non-null float64
기념품 및 쇼핑비                      19101 non-null float64
여행지에서 여행관련용품 구입비               19101 non-null float64
기타비용                           19101 non-null float64
여행 출발 전 사전예약을 통해 이용한 서비스 여부    19101 non-null float64
사전예약을 한 서비스 숙박시설               5297 non-null float64
사전예약을 한 서비스 교통수단               3357 non-null float64
사전예약을 한 서비스 차량대여/렌트            1429 non-null float64
사전예약을 한 서비스 관광명소               744 non-null float64
사전예약을 한 서비스 레저시설               883 non-null float64
사전예약을 한 서비스 체험프로그램             515 non-null float64
사전예약을 한 서비스 기타                 506 non-null float64
여행상품 구매 또는 이용 여부               19101 non-null float64
구매한 여행상품                       2376 non-null float64
구매한 여행상품 부분 패키지 상품(교통)         554 non-null float64
구매한 여행상품 부분 패키지 상품(차량임대)       361 non-null float64
구매한 여행상품 부분 패키지 상품(숙박시설)       499 non-null float64
구매한 여행상품 부분 패키지 상품(레저시설)       258 non-null float64
구매한 여행상품 부분 패키지 상품(기타)         177 non-null float64
단체회비/단체경비에 여행상품 구매 비용 포함 여부    5416 non-null float64
항목별 만족도 자연경관                   19101 non-null float64
항목별 만족도 문화유산                   19101 non-null float64
항목별 만족도 교통                     19101 non-null float64
항목별 만족도 숙박시설                   19101 non-null float64
항목별 만족도 식당 및 음식                19101 non-null float64
항목별 만족도 쇼핑                     19101 non-null float64
항목별 만족도 관광정보 및 안내시설            19101 non-null float64
항목별 만족도 관광지 편의시설               19101 non-null float64
항목별 만족도 지역 관광종사자의 친절성          19101 non-null float64
항목별 만족도 체험프로그램                 19101 non-null float64
항목별 만족도 관광지 물가                 19101 non-null float64
항목별 만족도 관광지 혼잡도                19101 non-null float64
가중치                            39105 non-null float64
dtypes: float64(72), int64(3)
memory usage: 24.1 MB

In [13]:
# column명 변경
# data_5_01의 'gubun' column에 대한 정보가 없음 --> 찾음. 1은 가구여행, 2는 개인여행인듯. 

data_5_01.columns = ['gubun', '가구번호', '가구원번호', '여행구분1', '여행구분2', '여행 월', 
                     '매칭 ID', '당일/숙박여행 여부', '여행 출발 년', '여행 출발 월', 
                     '여행 출발 일', '여행 도착 년', '여행 도착 월', '여행 도착 일',
                     '여행 박', '여행 일', '여행 시기 주중', '여행 시기 주말',
                     '여행 시기 휴가/방학', '여행 시기 설날/추석', '여행 시기 공휴일',
                     '여행 주 목적', '여행 정보 주요 획득지 1순위',
                     '여행 정보 주요 획득지 2순위', '참고한 인터넷 사이트 1순위',
                     '참고한 인터넷 사이트 2순위', '함께 여행한 일행 존재 여부',
                     '본인을 제외한 함께 여행한 일행 수', '동행한 사람과의 관계 친구/연인', 
                     '동행한 사람과의 관계 (직장)동료', '동행한 사람과의 관계 단체/모임', 
                     '동행한 사람과의 관계 비동거가족', '동행한 사람과의 관계 친척',
                     '동행한 사람과의 관계 기타', '총 지출비용', '사전 지출비용', 
                     '단체비용', '여행사 상품구입비', '숙박비', '교통비', '식/음료비', 
                     '문화/오락시설 이용료/관람료', '스포츠/레포츠 용품대여/구입비, 경기관람료', 
                     '기념품 및 쇼핑비', '여행지에서 여행관련용품 구입비', '기타비용',
                     '여행 출발 전 사전예약을 통해 이용한 서비스 여부',
                     '사전예약을 한 서비스 숙박시설', '사전예약을 한 서비스 교통수단',
                     '사전예약을 한 서비스 차량대여/렌트', '사전예약을 한 서비스 관광명소',
                     '사전예약을 한 서비스 레저시설', '사전예약을 한 서비스 체험프로그램',
                     '사전예약을 한 서비스 기타', '여행상품 구매 또는 이용 여부',
                     '구매한 여행상품', '구매한 여행상품 부분 패키지 상품(교통)',
                     '구매한 여행상품 부분 패키지 상품(차량임대)',
                     '구매한 여행상품 부분 패키지 상품(숙박시설)',
                     '구매한 여행상품 부분 패키지 상품(레저시설)',
                     '구매한 여행상품 부분 패키지 상품(기타)',
                     '단체회비/단체경비에 여행상품 구매 비용 포함 여부',
                     '항목별 만족도 자연경관', '항목별 만족도 문화유산', 
                     '항목별 만족도 교통', '항목별 만족도 숙박시설', 
                     '항목별 만족도 식당 및 음식', '항목별 만족도 쇼핑', 
                     '항목별 만족도 관광정보 및 안내시설', '항목별 만족도 관광지 편의시설',
                     '항목별 만족도 지역 관광종사자의 친절성', '항목별 만족도 체험프로그램',
                     '항목별 만족도 관광지 물가', '항목별 만족도 관광지 혼잡도', '가중치']

data_5_02.columns = ['가구번호', '가구원번호', '여행구분1', '여행구분2', '여행 월', '매칭 ID', 
                     '여행한 광역시/도(헤외여행: 국가)', '여행한 광역시/도 내 시/군1(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군2(해외여행: 도시)', '여행한 광역시/도 내 시/군3(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군4(해외여행: 도시)', '여행한 광역시/도 내 시/군5(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군6(해외여행: 도시)', '여행한 광역시/도 내 시/군7(해외여행: 도시)',
                     '여행한 광역시/도 내 시/군8(해외여행: 도시)', '여행지별 여행일수', '여행지 선택이유 1순위',
                     '여행지 선택이유 2순위', '여행지 선택이유 3순위', '주요 이동(교통)수단', 
                     '숙박시설 숙박하지 않음', '숙박시설 호텔', '숙박시설 콘도미니엄', '숙박시설 유스호스텔',
                     '숙박시설 모텔/여관', '숙박시설 펜션', '숙박시설 민박', '숙박시설 야영', 
                     '숙박시설 자연휴양림 내 숙박시설', '숙박시설 가족/친지집', '숙박시설 연수원/수련원',
                     '숙박시설 전통한옥숙박시설', '숙박시설 기타', '숙박시설 별 숙박 박수 숙박하지 않음',
                     '숙박시설 별 숙박 박수 호텔', '숙박시설 별 숙박 박수 콘도미니엄',
                     '숙박시설 별 숙박 박수 유스호스텔', '숙박시설 별 숙박 박수 모텔/여관',
                     '숙박시설 별 숙박 박수 펜션', '숙박시설 별 숙박 박수 민박', '숙박시설 별 숙박 박수 야영',
                     '숙박시설 별 숙박 박수 자연휴양림 내 숙박시설', '숙박시설 별 숙박 박수 가족/친지집',
                     '숙박시설 별 숙박 박수 연수원/수련원', '숙박시설 별 숙박 박수 전통한옥숙박시설', 
                     '숙박시설 별 숙박 박수 기타', '여행지에서의 활동 자연 및 풍경 감상',
                     '여행지에서의 활동 음식관광', '여행지에서의 활동 야외 위락 및 스포츠 활동',
                     '여행지에서의 활동 역사유적지 방문', '여행지에서의 활동 테마파크, 놀이시설, 동/식물원 방문',
                     '여행지에서의 활동 휴식/휴양', '여행지에서의 활동 온천/스파', '여행지에서의 활동 쇼핑',
                     '여행지에서의 활동 지역 문화예술/공연/전시시설 관람', '여행지에서의 활동 스포츠 경기 관람',
                     '여행지에서의 활동 지역 축제/이벤트 참가', '여행지에서의 활동 교육/체험프로그램 참가',
                     '여행지에서의 활동 종교/성지순례', '여행지에서의 활동 갬블링', '여행지에서의 활동 시티투어',
                     '여행지에서의 활동 드라마 촬영지 방문', '여행지에서의 활동 가족/친지/친구 방문',
                     '여행지에서의 활동 회의참가/시찰', '여행지에서의 활동 교육/훈련/연수', 
                     '여행지에서의 활동 유흥/오락', '여행지에서의 활동 기타', '전반적 만족도', '재방문 의향',
                     '타인 추천의향', '여행지에서 지출비용', '가중치']

In [14]:
# 개인화-단위 데이터 확인
data_5_01.head()

,gubun,가구번호,가구원번호,여행구분1,여행구분2,여행 월,매칭 ID,당일/숙박여행 여부,여행 출발 년,여행 출발 월,...,항목별 만족도 숙박시설,항목별 만족도 식당 및 음식,항목별 만족도 쇼핑,항목별 만족도 관광정보 및 안내시설,항목별 만족도 관광지 편의시설,항목별 만족도 지역 관광종사자의 친절성,항목별 만족도 체험프로그램,항목별 만족도 관광지 물가,항목별 만족도 관광지 혼잡도,가중치
0,1.0,10001,1000101,4,1.0,1.0,101371.0,2.0,2017.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6201.607951
1,1.0,10001,1000101,1,2.0,7.0,101372.0,2.0,2017.0,7.0,...,4.0,4.0,9.0,4.0,4.0,4.0,4.0,4.0,4.0,6201.607951
2,2.0,10001,1000101,1,2.0,8.0,115439.0,2.0,2017.0,8.0,...,4.0,4.0,9.0,4.0,4.0,4.0,4.0,4.0,4.0,6201.607951
3,1.0,10001,1000101,4,2.0,10.0,115436.0,1.0,2017.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6201.607951
4,1.0,10001,1000101,1,2.0,10.0,115437.0,1.0,2017.0,10.0,...,9.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,6201.607951

In [15]:
# 개인화-방문지 데이터 확인
data_5_02.head()

,가구번호,가구원번호,여행구분1,여행구분2,여행 월,매칭 ID,여행한 광역시/도(헤외여행: 국가),여행한 광역시/도 내 시/군1(해외여행: 도시),여행한 광역시/도 내 시/군2(해외여행: 도시),여행한 광역시/도 내 시/군3(해외여행: 도시),...,여행지에서의 활동 가족/친지/친구 방문,여행지에서의 활동 회의참가/시찰,여행지에서의 활동 교육/훈련/연수,여행지에서의 활동 유흥/오락,여행지에서의 활동 기타,전반적 만족도,재방문 의향,타인 추천의향,여행지에서 지출비용,가중치
0,10001,1000101,1,2.0,8.0,115439.0,931.0,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,100000.0,6201.607951
1,10001,1000101,4,2.0,10.0,115440.0,931.0,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,6201.607951
2,10001,1000101,4,1.0,1.0,101371.0,911.0,20.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,6201.607951
3,10001,1000101,4,2.0,10.0,115436.0,911.0,20.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125000.0,6201.607951
4,10001,1000101,1,2.0,7.0,101372.0,932.0,30.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,650000.0,6201.607951

In [163]:
# 가구번호, 가구원번호, 매칭ID는 같은 사람임을 알 수 있음. 
# 여행구분1 , 여행구분2, 여행 월은 같은 사람이 여러 번 여행을 가는 경우를 고려할 수 있음.  
data_5 = pd.merge(data_5_01, data_5_02, on=["가구번호","가구원번호","여행구분1","여행구분2","여행 월","매칭 ID"])

In [164]:
data_5[data_5.gubun.isnull()].head(2) 
# gubun이 NaN 값인 경우, 조사데이터가 제대로 반영되지 않은 것을 알 수 있음.

,gubun,가구번호,가구원번호,여행구분1,여행구분2,여행 월,매칭 ID,당일/숙박여행 여부,여행 출발 년,여행 출발 월,...,여행지에서의 활동 가족/친지/친구 방문,여행지에서의 활동 회의참가/시찰,여행지에서의 활동 교육/훈련/연수,여행지에서의 활동 유흥/오락,여행지에서의 활동 기타,전반적 만족도,재방문 의향,타인 추천의향,여행지에서 지출비용,가중치_y
24,NaN,10003,1000301,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,10003,1000301,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
# data_5에서 gubun이 NaN이 아닌 값들만 추려서 다시 저장해줌.
# 이 때, gubun 이 1 이면 가구여행,  2이면 개인여행.
data_5 = data_5[data_5.gubun.notnull()]

In [166]:
# 여행구분1 == 1(국내관광여행)인 데이터만 추림
data_5 = data_5[data_5.여행구분1==1]

In [169]:
data_5.head(2)

,gubun,가구번호,가구원번호,여행구분1,여행구분2,여행 월,매칭 ID,당일/숙박여행 여부,여행 출발 년,여행 출발 월,...,여행지에서의 활동 가족/친지/친구 방문,여행지에서의 활동 회의참가/시찰,여행지에서의 활동 교육/훈련/연수,여행지에서의 활동 유흥/오락,여행지에서의 활동 기타,전반적 만족도,재방문 의향,타인 추천의향,여행지에서 지출비용,가중치_y
1,1.0,10001,1000101,1,2.0,7.0,101372.0,2.0,2017.0,7.0,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,650000.0,6201.607951
2,2.0,10001,1000101,1,2.0,8.0,115439.0,2.0,2017.0,8.0,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,100000.0,6201.607951

In [171]:
# 이미 One-Hot-Encoding을 한 후 그걸 각각 categorical 숫자로 바꾼 듯. 
# NaN이 아닌 것은 모두 1로, NaN은 모두 0으로 전처리
def get_preprocessed_df(df):
    df_copy = df.copy()
    stays = [col for col in df_copy.columns if '숙박시설 ' in col and '숙박시설 별' not in col]
    for stay in stays:
        df_copy[stay] = df_copy[stay].apply(lambda x: 1 if x>0 else 0)
    return df_copy

In [172]:
data_5_숙박처리 = get_preprocessed_df(data_5)

In [174]:
data_5_숙박처리.to_excel("test.xlsx")

In [ ]:
data_5

In [162]:
data_5['숙박시설 펜션']

1        0
2        1
4        0
8        0
9        0
10       0
12       0
13       0
14       0
16       0
23       0
26       0
30       0
32       0
36       0
37       0
38       0
44       0
45       0
48       0
56       0
57       0
58       0
60       0
61       0
63       0
64       0
65       0
66       0
67       0
        ..
42849    0
42852    0
42853    0
42854    0
42858    0
42860    0
42861    0
42862    0
42867    0
42869    0
42875    0
42876    0
42877    0
42881    0
42882    0
42883    0
42885    0
42888    0
42889    0
42890    1
42891    0
42894    1
42902    0
42903    0
42905    0
42910    1
42911    0
42920    1
42930    0
42937    0
Name: 숙박시설 펜션, Length: 17705, dtype: int64

In [3]:
data_t = pd.read_excel('data_5_숙박시설OneHot.xlsx')

In [4]:
data_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17705 entries, 0 to 17704
Columns: 142 entries, Unnamed: 0 to 가중치_y
dtypes: float64(86), int64(56)
memory usage: 19.2 MB